* {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
  font-size: 16px; }

.contenedor-principal {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row-reverse; }

.header {
  position: relative;
  float: right;
  width: 100%;
  height: 2em;
  background-color: black; }

.section {
  width: 13.4em;
  height: 100vh;
  background-color: red;
  display: flex;
  flex-direction: column; }
  .section .container-logo {
    height: 5em;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 0.3rem; }
    .section .container-logo svg {
      height: 4em;
      width: auto; }
      .section .container-logo svg .cls-1 {
        fill: white; }
      .section .container-logo svg .cls-2 {
        fill: black; }
      .section .container-logo svg .cls-3 {
        fill: white; }
  .section .container-menu {
    height: 6em; }
  .section .container-logout {
    height: 6em; }
