@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");
* {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
  font-size: 16px; }

body {
  overflow: hidden; }

.contenedor-principal {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row-reverse;
  overflow: hidden; }

.header {
  position: relative;
  float: right;
  width: 100%;
  height: 2em;
  background-color: black; }

.section {
  width: 15.4em;
  height: 100vh;
  background-color: #FF2E25;
  display: flex;
  flex-direction: column;
  font-family: 'Roboto', sans-serif; }
  .section .container-logo {
    height: 5em;
    display: flex;
    align-items: center;
    justify-content: center; }
    .section .container-logo svg {
      height: 3.3em;
      width: auto; }
      .section .container-logo svg .cls-1 {
        fill: white; }
      .section .container-logo svg .cls-2 {
        fill: black; }
      .section .container-logo svg .cls-3 {
        fill: white; }
  .section .container-menu {
    height: 27em;
    display: flex;
    justify-content: center;
    padding-top: 0.6rem; }
    .section .container-menu .menu-items {
      height: 100%;
      width: 94%;
      display: flex;
      align-items: center;
      flex-direction: column; }
      .section .container-menu .menu-items li {
        height: 7%;
        width: 84%;
        list-style: none;
        margin-bottom: 4px; }
        .section .container-menu .menu-items li a {
          height: 100%;
          width: 100%;
          display: flex;
          align-items: center;
          padding-left: 0.5rem;
          color: white; }
          .section .container-menu .menu-items li a:hover {
            background-color: white;
            cursor: pointer;
            border-radius: 5px;
            color: #FF2E25;
            font-weight: bold;
            transition: 0.4s; }
            .section .container-menu .menu-items li a:hover .cls-1 {
              fill: #FF2E25; }
          .section .container-menu .menu-items li a span {
            height: auto;
            width: 1rem;
            margin-right: 0.5rem; }
            .section .container-menu .menu-items li a span svg {
              width: 100%;
              height: auto; }
              .section .container-menu .menu-items li a span svg .cls-1 {
                fill: white; }
    .section .container-menu .button-inicio {
      width: 100%;
      height: 6%;
      display: flex;
      justify-content: center;
      align-items: center; }
      .section .container-menu .button-inicio a {
        height: 100%;
        width: 14%;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 4px; }
        .section .container-menu .button-inicio a:hover {
          background-color: white;
          transition: 0.3s; }
          .section .container-menu .button-inicio a:hover .cls-1 {
            fill: #FF2E25; }
        .section .container-menu .button-inicio a svg {
          height: 79%;
          width: auto; }
          .section .container-menu .button-inicio a svg .cls-1 {
            fill: white; }
    .section .container-menu .menu-title {
      width: 90%;
      height: 6%;
      display: flex;
      text-align: left;
      align-items: center;
      margin: 0.4rem 0; }
      .section .container-menu .menu-title p {
        height: 100%;
        color: white;
        font-size: 0.7rem;
        display: flex;
        align-items: center; }

.container-logout {
  height: 3em;
  width: 100%;
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  align-items: center; }
  .container-logout button {
    height: 80%;
    width: 88%;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    color: white;
    font-size: 1.1rem;
    font-weight: 500;
    padding: 0.5em 1.2em;
    background: #FF2E25;
    border: 1px solid white;
    position: relative; }
    .container-logout button:before {
      content: "";
      position: absolute;
      top: 0px;
      left: 0px;
      width: 0px;
      height: 100%;
      background: rgba(255, 255, 255, 0.1);
      transition: all 1s ease; }
    .container-logout button:hover:before {
      width: 100%; }
  .container-logout span {
    height: 100%;
    width: 10%;
    margin-right: 0.5rem; }
    .container-logout span svg {
      height: 1rem;
      width: auto; }
      .container-logout span svg .cls-1 {
        fill: white; }
