// Color de fondo
$color-fondo: #f2f2f2;
// logo SVG
$color-logo_principal: white;
$color-logo_secundario: black;
$color-logo_slogan: white;
// Header
$color-header_fondo: white;
$color-expandbutton_fondo: #FF2E25;
$color-expandbutton_icon-fill: white;
$color-notifications_icon: rgba(104, 100, 100, 0.87);
$color-notifications_span: #FF2E25;
$color-notifications_span-text: white;
$color-notifcards_fill:#ff2c2594;
$color-notifcards_font: rgba(104, 100, 100, 0.884);
$color-settings_icon: rgba(104, 100, 100, 0.87);
$color-miniature_fill: #FF2E25;
$medida-header_alto: 4.2em;
// Section
$color-section_title: white;
$color-section_fondo: #FF2E25;
$color-home_fill: white;
$color-home_fill-hover: #FF2E25;
$color-home_round-hover: white;
$color-menu_fuente: white;
$color-menu_fuente-hover: #FF2E25;
$color-menu_icon: white;
$color-menu_icon-hover: #FF2E25;
$color-menu_btn: #FF2E25;
$medida-section_ancho: 15.4em;
// Aside
$color-quickact_fill: red;
$color-quickact_icon: rgba(104, 100, 100, 0.884);
// Footer
$color-fuente_footer: rgba(104, 100, 100, 0.493);
$color-fuente_footer-hover: rgba(104, 100, 100, 0.836);