// Color de fondo
$color-fondo: #DFDBD8;
// logo SVG
$color-logo_principal: white;
$color-logo_secundario: black;
$color-logo_slogan: white;
// Header
$color-header_fondo: black;
$medida-header_alto: 2em;
// Section
$color-section_fondo: red;
$medida-section_ancho: 13.4em;