// Color de fondo
$color-fondo: #DFDBD8;
// logo SVG
$color-logo_principal: white;
$color-logo_secundario: black;
$color-logo_slogan: white;
// Header
$color-header_fondo: black;
$medida-header_alto: 2em;
// Section
$color-section_title: white;
$color-section_fondo: #FF2E25;
$color-home_fill: white;
$color-home_fill-hover: #FF2E25;
$color-home_round-hover: white;
$color-menu_fuente: white;
$color-menu_fuente-hover: #FF2E25;
$color-menu_icon: white;
$color-menu_icon-hover: #FF2E25;
$color-menu_btn: #FF2E25;
$medida-section_ancho: 15.4em;