.aside {
    height: 100vh;
    width: 100%;
    .container-header {
        width: 100%;
        height: 3.5em;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 28px;
        .quickact {
            height: 80%;
            width: 13em;
            background-color: rgba(255, 0, 0, 0.486);
            border: 1px solid red;
            border-radius: 4px;
            h6 {
                height: 36%;
                display: flex;
                justify-content: center;
                font-size: 0.8rem;
                padding-top: 1px;
                @include roboto;
                margin: 0;
                font-weight: bold;
            }
            ul {
                height: 64%;
                width: 100%;
                display: flex;
                margin: 0;
                padding: 0;
                li {
                    width: 33.3%;
                    height: 100%;
                    list-style: none;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    position: relative;
                }
                .container-label {
                    width: 62px;
                    height: 37px;
                    position: absolute;
                    display: flex;
                    top: 26px;
                    justify-content: center;
                    flex-direction: column;
                    .container-triangle {
                        height: 20%;
                        width: 100%;
                        display: flex;
                        justify-content: center;
                        .triangle {
                            width: 3px;
                            height: 100%;
                            border-right: 6px solid transparent;
                            border-top: 0px solid transparent;
                            border-left: 6px solid transparent;
                            border-bottom: 8px solid $color-quickact_fill;
                        }
                    }
                    .label {
                        height: 80%;
                        width: 100%;
                        background-color: $color-quickact_fill;
                        border-radius: 3px;
                        h6 {
                            height: 100%;
                            width: 100%;
                            display: flex;
                            align-items: center;
                            font-size: 0.7rem;
                            text-align: center;
                            color: white;
                            @include roboto;
                        }
                    }
                }
                .icon {
                    a {
                        height: 100%;
                        width: auto;
                        &:hover {
                            .container-label {
                                display: flex;
                            }
                        }
                        svg {
                            height: auto;
                            width: 18px;
                            .cls-1 {
                                fill: $color-quickact_icon;
                            }
                        }
                    }
                }
            }
        }
        .navpoint,
        .datefilter {
            height: 100%;
        }
        .navpoint {
            width: 5.6em;
            display: flex;
            justify-content: center;
            align-items: center;
            h6 {
                height: 1.3em;
                width: auto;
                margin: 0;
                @include roboto;
                font-weight: bold;
            }
        }
        .datefilter {
            width: 12em;
            background-color: yellow;
        }
    }
}