.contenedor-principal > .container-seccion_derecha > .aside > .container-content > .principal-content {
    h6 {
        height: 10%;
        width: 100%;
        margin: 0;
        display: flex;
        justify-content: center;
    }
    .contact {
        width: 100%;
        height: 15%;
        display: flex;
        padding: 10px 44px;
        margin: 0.4rem 0;
        .whatsapp,
        .mail {
            height: 100%;
            width: 50%;
            display: flex;
            align-items: center;
            button {
                height: 2.5rem;
                width: 3.5rem;
                border: none;
                border-radius: 6px;
                svg {
                    width: 2rem;
                    height: 2rem;
                    .cls-1 {
                        fill: white;
                    }
                }
            }
            h6 {
                font-size: 0.8rem;
                height: 100%;
                display: flex;
                justify-content: left;
                padding-left: 0.5rem;
            }
        }
        .whatsapp {
            width: 45%;
            button {
                background-color: #00bb2d;
            }
        }
        .mail {
            button {
                background-color: #ff2e25;
            }
        }
    }
    .form {
        width: 100%;
        height: 74%;
        padding: 0 10px;
        .field {
            height: 2rem;
            width: 100%;
            display: flex;
            margin-bottom: 0.4rem;
            span {
                width: 20%;
                height: 100%;
                @include roboto;
                color: rgba(104, 100, 100, 0.884);
                font-weight: bold;
            }
            input {
                width: 80%;
                height: 100%;
                border: 1px solid rgba(104, 100, 100, 0.884);
                outline: none;
                border-radius: 4px;
                padding-left: 10px;
            }
        }
        .text-field {
            height: 6rem;
            width: 39rem;
            textarea {
                margin-left: 26px;
                resize: none;
                outline: none;
                padding-left: 5px;
            }
        }
        .button {
            display: flex;
            justify-content: space-around;
            padding-top: 9px;
            height: 2.8rem;
            button {
                width: 7rem;
                height: 2rem;
                border: none;
                border-radius: 4px;
                background-color: #ff2e25;
                color: white;
                @include roboto;
                &:hover {
                    transform: scale(0.98);
                }
            }
        }
    }
}
