.contenedor-principal > .container-seccion_derecha > .aside > .container-content {
    .contenedor-central {
        width: 25rem;
        height: 24rem;
        h2, .img, .notfound {
            width: 100%;
            @include roboto;
        }
        h2, p {
            color: rgba(104, 100, 100, 0.87);
        }
        h2 {
            height: 13%;
            display: flex;
            justify-content: center;
            align-items: center;
            font-weight: bold;
            margin: 0;
        }
        .img {
            height: 60%;
            background-image: url(src/404.png);
            background-repeat: no-repeat;
            background-size: 223px;
            background-position-x: center;
            width: 100%;
        }
        .notfound {
            height: 20%;
            text-align: center;
            font-size: 1.4rem;
        }
    }    

}