.contenedor-principal> .container-seccion_derecha> .aside> .container-content {
    overflow-x: hidden;
    .grid-mens {
        width: 64em;
        height: 25em;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-template-areas: "a1 a2 a4" "a5 a6 a7";
        grid-gap: 0.5rem;
        position: absolute;
        left: 60px;
        .cards,
        .c4 {
            width: 100%;
            height: 100%;
            background-color: white;
            border: 1px solid rgba(104, 100, 100, 0.2);
        }
        .cards {
            height: 12rem;
            position: relative;
            width: 100%;
            display: flex;
            flex-direction: column;
            padding: 1rem 1.5rem;
            @include roboto;
            color: rgba(104, 100, 100, 0.884);
            .card-title,
            .card-descript,
            .card-comport {
                width: 100%;
                height: 26%;
                margin: 0;
                display: flex;
                align-items: center;
            }
            .card-title {
                font-size: 1.2rem;
            }
            .card-descript {
                height: 44%;
                font-size: 1.7rem;
                font-weight: bold;
            }
            .card-comport {
                flex-direction: column;
                height: 28%;
                display: flex;
                align-items: center;
                .label1,
                .label2 {
                    height: 50%;
                }
                .label1 {
                    height: 100%;
                    width: 100%;
                    display: flex;
                    align-items: center;
                    color: #0acf97;
                    span {
                        height: 100%;
                        width: 1rem;
                        margin-right: 0.4rem;
                        svg {
                            width: 1rem;
                            height: 1rem;
                            .cls-1 {
                                fill: #0acf97;
                            }
                        }
                    }
                    h6 {
                        width: 80%;
                        height: 100%;
                        margin: 0;
                        display: flex;
                        align-items: center;
                        padding-top: 0.2rem;
                    }
                }
            }
            .info {
                width: 1.5rem;
                height: 1.5rem;
                border-radius: 50%;
                position: absolute;
                top: 5px;
                right: 5px;
                a {
                    height: 100%;
                    width: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    svg {
                        height: 1rem;
                        width: 1rem;
                        .cls-1 {
                            fill: red;
                        }
                    }
                }
            }
        }
        .c3 {
            .card-comport {
                .label1 {
                    color: red;
                    span {
                        transform: rotate(180deg);
                        svg {
                            .cls-1 {
                                fill: red;
                            }
                        }
                    }
                }
            }
        }
        .c5 {
            .card-comport {
                .label1 {
                    color: #0acf97;
                    span {
                        transform: rotate(180deg);
                        svg {
                            .cls-1 {
                                fill: #0acf97;
                            }
                        }
                    }
                }
            }
        }
        .c6 {
            .card-comport {
                .label1 {
                    span {
                        transform: rotate(180deg);
                    }
                }
            }
        }
    }
}