.contenedor-principal > .container-seccion_derecha > .aside > .container-content > .principal-content {
    width: 42em;
    position: relative;
    .add, .delete {
        position: absolute;
        width: 3rem;
        height: 2rem;
        top: 16;
        display: flex;
        justify-content: center;
        align-items: center;
        button {
            width: 1.4rem;
            height: 1.4rem;
            border: none;
            border-radius: 3px;
            background-color: #ff2c25be;
            display: flex;
            justify-content: center;
            align-items: center;
            svg {
                height: 1rem;
                width: 1.2rem;
                .cls-1 {
                    fill: white;
                }
            }
        }
    }
    .add {
        left: 15px;
        
        button {
            svg {
                width: 0.8rem;
            }
        }
    }
    .delete {
        right: 15px;
    }
    h6 {
        height: 12%;
        width: 100%;
        @include roboto;
        color: rgba(104, 100, 100, 0.87);
    }
    .content-messages {
        width: 100%;
        height: 88%;
        display: flex;
        .messages,
        .detail {
            width: 50%;
            height: 100%;
            padding: 0.5rem;
        }
        .messages {
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: repeat (5, 1fr);
            border: 1px solid rgba(104, 100, 100, 0.562);
            .card-mess {
                height: 3.5rem;
                display: flex;
                border-top: 1px solid rgba(104, 100, 100, 0.15);
                border-bottom: 0.5px solid rgba(104, 100, 100, 0.15);
                .side-left,
                .side-right {
                    height: 100%;
                }
                .side-left {
                    width: 20%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    .img {
                        width: 2.6rem;
                        height: 2.6rem;
                        background-color: black;
                        border-radius: 75%;
                        background-repeat: no-repeat;
                        background-size: cover;
                        background-position-x: -5px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        svg {
                            height: 1.5rem;
                            width: 2rem;
                            padding-left: 1px;
                            .cls-1 {
                                fill: rgba(104, 100, 100, 0.87);
                            }
                        }
                    }
                }
                .side-right {
                    width: 80%;
                    display: flex;
                    flex-direction: column;
                    padding: 6px 0;

                    .name,
                    .mess {
                        height: 50%;
                        display: flex;
                        align-items: center;
                        @include roboto;
                        color: rgba(104, 100, 100, 0.87);
                    }
                    .name {
                        font-weight: bold;
                    }
                    .mess {
                        font-size: 0.8rem;
                        padding-left: 7px;
                    }
                }
                &:hover {
                    background-color: #ff2c2577;
                    cursor: pointer;
                    .side-right {
                        .name,
                        .mess {
                            color: #000000b3;
                        }
                    }
                }
            }
            .c1 {
                background-color: #ff2c2577;
                .side-right {
                    .name,
                    .mess {
                        color: #000000b3;
                    }
                }
                .side-left {
                    .img {
                        background-image: url("/src/ico-supervisor.ico");
                    }
                }
            }
            .c2 {
                .side-left {
                    .img {
                        background-image: url("/src/ico-camilarincon.ico");
                    }
                }
            }
            .c3 {
                .side-left {
                    .img {
                        background-image: url("/src/ico-secretaria.ico");
                    }
                }
            }
            .c4 {
                .side-left {
                    .img {
                        background-color: #ffffff;
                        border: 1px solid rgba(104, 100, 100, 0.5);
                    }
                }
            }
            .c5 {
                .side-left {
                    .img {
                        background-image: url("/src/ico-logistica.ico");
                    }
                }
            }
        }
        .detail {
            border-top: 1px solid rgba(104, 100, 100, 0.562);
            border-right: 1px solid rgba(104, 100, 100, 0.562);
            border-bottom: 1px solid rgba(104, 100, 100, 0.562);
            display: flex;
            flex-direction: column;
            .header {
                width: 100%;
                height: 16%;
                display: flex;
                span,
                h6 {
                    height: 100%;
                    margin: 0;
                    display: flex;
                    justify-content: left;
                }
                span {
                    width: 15%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    .img {
                        height: 3rem;
                        width: 3rem;
                        background-image: url("/src/ico-supervisor.ico");
                        background-repeat: no-repeat;
                        background-size: cover;
                        background-position: -17px;
                        border-radius: 50%;
                    }
                }
                h6 {
                    width: 80%;
                    margin: 0;
                    @include roboto;
                }
                .time {
                    width: 9rem;
                    height: 100%;
                    h6 {
                        width: 100%;
                        height: 100%;
                        font-size: 0.7rem;
                        display: flex;
                        align-items: right;
                    }
                }
            }
            .content {
                height: 100%;
                width: 100%;
                padding: 1rem;
                @include roboto;
                color: rgba(104, 100, 100, 0.925);
            }
        }
    }
}
