* {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    font-size: 16px;
}

body {
    overflow: hidden;
}

.contenedor-principal {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row-reverse;
    overflow: hidden;
}