* {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    font-size: 16px;
    p {
        margin: 0;
    }
}

body {
    overflow: hidden;
}

.contenedor-principal {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row-reverse;
    overflow: hidden;
    background-color: $color-fondo;
}

p {
    margin: 0;
}