@media screen and (max-device-width: 2560px) {
    .aside > .container-content > .content-grid {
        width: 75em;
        height: 28em;
    }

    footer {
        bottom: 13px;
    }
}
@media screen and (max-device-width: 1440px) {
    .container-seccion_derecha {
        width: 86%;
        .aside > .container-content {
            padding-top: 1rem;
            .content-grid {
                width: 67em;
                height: 23em;
            }
            .cont45 {
                left: 33px !important;
            }
        }
        footer {
            bottom: 18px;
            .container-footer {
                width: 63rem;
            }
        }
    }
    .section {
        width: 13.1em;
    }
}
@media screen and (max-device-width: 1024px) {
    .container-seccion_derecha {
        width: 81%;
        .aside > .container-content {
            padding: 1rem;
            height: 22rem;
        }
        .content-grid {
            width: 47em;
            height: 22rem;
            .cards {
                padding: 0.8rem !important;
                .card-title {
                    font-size: rem;
                }
                .card-comport > .label2 {
                    font-size: 0.8rem;
                }
            }
        }
    }
    footer {
        bottom: 16px;
        .container-footer {
            width: 48rem;
            p {
                font-size: 0.9rem;
            }
            .container-links_info {
                width: 18.5em;
                a {
                    font-size: 0.9rem;
                }
            }
        }
    }
}
.section {
    width: 12.5em;
    .container-menu > .menu-items > li > a {
        font-size: 0.9rem;
    }
}

@media screen and (max-device-width: 768px) {
    .contenedor-principal {
        .container-seccion_derecha {
            width: 78%;
            .aside {
                .container-header {
                    height: 3.5rem;
                    padding: 0 10px;
                    .quickact {
                        width: 14rem;
                    }
                    .navpoint {
                        h6 {
                            font-size: 1rem;
                            padding-left: 1rem !important;
                        }
                    }
                    .datefilter {
                        width: 14rem;
                        .reload {
                            width: 20%;
                        }
                    }
                }
                .container-content {
                    padding-top: 3rem;
                    height: 22.5rem;
                    width: 36rem;
                    margin-left: 1rem;
                    overflow: scroll;
                    .principal-content {
                        .form {
                            form {
                                ul {
                                    li {
                                        label,
                                        h6,
                                        span {
                                            font-size: 0.8rem;
                                        }
                                    }
                                    .pay {
                                        ul {
                                            li {
                                                span {
                                                    font-size: 0.7rem;
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                    .content-grid {
                        width: 34em;
                        height: 14em;
                        .cards {
                            padding: 0.5rem;
                        }
                    }
                    .cont45 {
                        width: 32em !important;
                    }
                    .detallado {
                        display: none;
                    }
                }
                .pc2 {
                    width: 100% !important;
                    .contact {
                        padding: 0 !important;
                        height: 2rem;
                        div {
                            h6 {
                                height: 100% !important;
                                font-size: 0.7rem;
                            }
                        }
                    }
                    .C8 {
                        .field {
                            span {
                                width: 33% !important;
                                font-size: 0.8rem !important;
                            }
                        }
                        .text-field {
                            width: 100% !important;
                            textarea {
                                width: 80% !important;
                                margin: 0;
                            }
                        }
                    }
                }
            }
            .header {
                height: 3.6em;
                .collapse-button {
                    margin-right: 1.3em;
                }
                .header-search {
                    width: 16rem;
                    height: 66%;
                }
                .container-tools {
                    width: 15.5rem;
                    padding-right: 0.9em;
                    .profile {
                        width: 7.8em;
                        a {
                            .profile-photo {
                                .miniature {
                                    height: 1.5rem;
                                    width: 1.5rem;
                                    font-size: 0.8rem;
                                }
                            }
                            .profile-details {
                                .details-name {
                                    h5 {
                                        font-size: 0.77rem;
                                    }
                                }
                                .details-info {
                                    h6 {
                                        font-size: 0.55rem;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
        footer {
            bottom: 16px;
            .container-footer {
                width: 34rem;
                p {
                    font-size: 0.7rem;
                }
                .container-links_info {
                    width: 14rem;
                    a {
                        font-size: 0.7rem;
                    }
                }
            }
        }
        .f1 {
            width: 77%;
        }
    }
    .section {
        width: 10.7rem;
        .container-menu {
            .menu-items > li > a {
                font-size: 0.78rem;
            }
        }
        .container-logout {
            button {
                font-size: 0.97rem;
                span {
                    display: flex;
                    align-items: center;
                }
            }
        }
    }
}
@media screen and (max-device-width: 425px) {
    .contenedor-principal {
        .container-seccion_derecha {
            width: 100%;
            .header {
                .collapse-button {
                    margin-right: 0;
                }
                .header-search {
                    display: none;
                }
                .container-tools {
                    .notifications {
                        .notifications-expanded {
                            transform: translate(-69px, -8px);
                        }
                    }
                }
            }
            .aside {
                .container-header {
                    .quickact {
                        width: 8rem;
                        ul {
                            .container-label {
                                display: none;
                            }
                        }
                    }
                    .navpoint {
                        h6 {
                            width: 100%;
                            height: 100%;
                            display: flex;
                            justify-content: right;
                            align-items: center;
                            padding-left: 2rem;
                        }
                    }
                    .datefilter {
                        width: 8rem;
                        .date {
                            width: 60%;
                        }
                        .reload {
                            width: 29%;
                        }
                    }
                }
                .container-content {
                    padding: 1rem 1rem 1rem;
                    overflow: scroll;
                    height: 22.5rem;
                    margin: 0;
                    width: 100%;
                    .cont45 {
                        width: 44em;
                        height: 25em;
                        display: grid;
                        grid-template-columns: 70% !important;
                        grid-template-rows: repeat(27, 1fr) !important;
                    }
                    .principal-content {
                        .content-messages {
                            .messages {
                                width: 100% !important;
                                .card-mess {
                                    .side-right {
                                        .mess {
                                            font-size: 0.7rem !important;
                                        }
                                    }
                                }
                            }
                            .detail {
                                display: none !important;
                            }
                        }
                    }
                    .content-grid,
                    .grid-mens {
                        height: 27em;
                        grid-template-columns: 100%;
                        grid-template-rows: repeat(25, 1fr);
                        .c1,
                        .c2,
                        .c3,
                        .c4,
                        .c5,
                        .c6,
                        .c7 {
                            grid-column-start: 1;
                            grid-column-end: 2;
                        }
                        .c1 {
                            grid-row-start: 1;
                            grid-row-end: 5;
                        }
                        .c2 {
                            grid-row-start: 5;
                            grid-row-end: 9;
                        }
                        .c3 {
                            grid-row-start: 9;
                            grid-row-end: 13;
                        }
                        .c4 {
                            grid-row-start: 13;
                            grid-row-end: 24;
                            height: 24rem;
                        }
                        .c5 {
                            grid-row-start: 24;
                            grid-row-end: 30;
                        }
                        .c6 {
                            grid-row-start: 30;
                            grid-row-end: 38;
                        }
                        .c7 {
                            grid-row-start: 38;
                            grid-row-end: 46;
                        }
                    }
                }
                .pc2 {
                    width: 100% !important;
                    .contact {
                        padding: 0 !important;
                        height: 2rem;
                        div {
                            h6 {
                                height: 100% !important;
                                font-size: 0.7rem;
                            }
                        }
                    }
                    .C8 {
                        .field {
                            span {
                                width: 33% !important;
                                font-size: 0.8rem !important;
                            }
                        }
                        .text-field {
                            width: 100% !important;
                            textarea {
                                width: 80% !important;
                                margin: 0;
                            }
                        }
                    }
                }
                .cc {
                    height: 23rem !important;
                    padding-top: 13px !important;
                    .principal-content {
                        width: 19rem !important;
                        height: 100% !important;
                        .content-message {
                            p {
                                padding-left: 1rem;
                                font-size: 0.68rem;
                            }
                        }
                    }
                }
                .cont5 {
                    .principal-content {
                        width: 19em !important;
                        .form {
                            form {
                                ul {
                                    padding: 0;
                                    li {
                                        label,
                                        span,
                                        h6 {
                                            width: 47% !important;
                                            font-size: 0.7rem !important;
                                            display: flex;
                                            align-items: center;
                                        }
                                    }
                                    .check {
                                        span {
                                            width: 27rem !important;
                                            height: 4rem !important;
                                        }
                                    }
                                    .pay {
                                        ul {
                                            li {
                                                span {
                                                    width: 2rem !important;
                                                    font-size: 0.5rem !important;
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                        .inputs {
                            input {
                                width: 5rem;
                            }
                        }
                    }
                }
                footer {
                    .container-footer {
                        flex-direction: column;
                        p {
                            display: flex;
                            justify-content: center;
                        }
                    }
                }
                .f1 {
                    width: 100%;
                }
            }
        }
        .section {
            position: absolute;
            left: 0;
            width: 100%;
            display: none;
        }
    }
}
@media (max-width: 375px) {
    .contenedor-principal {
        .container-seccion_derecha {
            .aside {
                .container-header {
                    .quickact {
                        width: 11rem;
                        ul {
                            .container-label {
                                display: none;
                            }
                        }
                    }
                    .navpoint {
                        width: 9.6rem;
                        margin: 0;
                    }
                    .datefilter {
                        width: 6rem;
                        .date {
                            width: 60%;
                        }
                        .reload {
                            width: 29%;
                        }
                    }
                }
                .container-content {
                    .cont45 {
                        width: 44em;
                        height: 25em;
                        display: grid;
                        grid-template-columns: 51% !important;
                        grid-template-rows: repeat(27, 1fr) !important;
                    }
                }
            }
        }
    }
}
